@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
  font-family: "Heebo", sans-serif;
}
.p-s {
  margin: 100px auto;
  padding: 0px 15px;
}
.home {
  max-width: 1320px;
  margin: 0px auto;
}

.container ,.container-footer {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-footer {
    max-width: 1080px;
  }
  .container {
    max-width: 1140px;
  }
  
  
}

@media (min-width: 1400px) {
  .container-footer {
    max-width: 1140px;
  }
  .container {
    max-width: 1320px;
  }
}

.hero-back {
  background: url(./assets//bg-bottom.png) center bottom no-repeat;
  background-color: rgba(22, 22, 156, 0.5);
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
